USE [QLGARA]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 5/29/2020 5:55:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Account](
	[USERNAME] [varchar](30) NOT NULL,
	[PASSWORD] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ChiTietDichVu]    Script Date: 5/29/2020 5:55:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDichVu](
	[MADV] [int] NOT NULL,
	[MAXE] [int] NOT NULL,
 CONSTRAINT [PK_ChiTietDichVu_1] PRIMARY KEY CLUSTERED 
(
	[MADV] ASC,
	[MAXE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ChiTietLinhKien]    Script Date: 5/29/2020 5:55:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietLinhKien](
	[MALK] [int] NOT NULL,
	[MAXE] [int] NOT NULL,
	[SOLUONGLK] [int] NOT NULL,
 CONSTRAINT [PK_ChiTietLinhKien] PRIMARY KEY CLUSTERED 
(
	[MALK] ASC,
	[MAXE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DichVu]    Script Date: 5/29/2020 5:55:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DichVu](
	[MADV] [int] IDENTITY(1,1) NOT NULL,
	[TENDV] [nvarchar](30) NOT NULL,
	[DONGIA] [int] NOT NULL,
 CONSTRAINT [PK_DichVu] PRIMARY KEY CLUSTERED 
(
	[MADV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HangXe]    Script Date: 5/29/2020 5:55:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HangXe](
	[MAHANG] [varchar](10) NOT NULL,
	[TENHANG] [varchar](10) NULL,
 CONSTRAINT [PK_HangXe] PRIMARY KEY CLUSTERED 
(
	[MAHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 5/29/2020 5:55:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MAKH] [int] IDENTITY(1,1) NOT NULL,
	[TENKH] [nvarchar](30) NOT NULL,
	[SDT] [varchar](12) NOT NULL,
	[DIACHI] [nvarchar](30) NULL,
	[TRANGTHAI] [char](1) NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LinhKien]    Script Date: 5/29/2020 5:55:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LinhKien](
	[MALK] [int] IDENTITY(1,1) NOT NULL,
	[TENLK] [nvarchar](30) NULL,
	[MAHANG] [varchar](10) NULL,
	[SOLUONG] [int] NULL,
	[DONGIA] [int] NULL,
 CONSTRAINT [PK_LinhKien] PRIMARY KEY CLUSTERED 
(
	[MALK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 5/29/2020 5:55:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MANV] [int] IDENTITY(1,1) NOT NULL,
	[TENNV] [nvarchar](50) NOT NULL,
	[USERNAME] [varchar](30) NOT NULL,
	[GIOITINH] [nvarchar](10) NOT NULL,
	[CHUCVU] [nvarchar](15) NOT NULL,
	[SDT] [nchar](15) NOT NULL,
	[NGAYSINH] [nvarchar](20) NOT NULL,
	[DIACHI] [nvarchar](150) NOT NULL,
	[EMAIL] [varchar](100) NOT NULL,
	[TRANGTHAI] [char](1) NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[NhanVien] SET (LOCK_ESCALATION = AUTO)
GO
/****** Object:  Table [dbo].[PhieuSuaXe]    Script Date: 5/29/2020 5:55:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PhieuSuaXe](
	[MAPHIEU] [int] IDENTITY(1,1) NOT NULL,
	[MAKH] [int] NOT NULL,
	[NGAY] [varchar](10) NULL,
	[MANV] [int] NULL,
	[TONGTIEN] [int] NULL,
 CONSTRAINT [PK_PhieuSuaXe_1] PRIMARY KEY CLUSTERED 
(
	[MAPHIEU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[XeKhach]    Script Date: 5/29/2020 5:55:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XeKhach](
	[MAXE] [int] IDENTITY(1,1) NOT NULL,
	[HIEUXE] [nvarchar](20) NOT NULL,
	[BIENSO] [nvarchar](10) NOT NULL,
	[MAKH] [int] NULL,
	[TRANGTHAI] [nchar](1) NULL,
 CONSTRAINT [PK_XeKhach] PRIMARY KEY CLUSTERED 
(
	[MAXE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[Account] ([USERNAME], [PASSWORD]) VALUES (N'Avan156', N'123456')
INSERT [dbo].[Account] ([USERNAME], [PASSWORD]) VALUES (N'banb156', N'123456')
INSERT [dbo].[Account] ([USERNAME], [PASSWORD]) VALUES (N'bao156', N'218152')
INSERT [dbo].[ChiTietDichVu] ([MADV], [MAXE]) VALUES (1, 4)
INSERT [dbo].[ChiTietDichVu] ([MADV], [MAXE]) VALUES (2, 4)
INSERT [dbo].[ChiTietDichVu] ([MADV], [MAXE]) VALUES (3, 2)
INSERT [dbo].[ChiTietLinhKien] ([MALK], [MAXE], [SOLUONGLK]) VALUES (3, 1, 1)
INSERT [dbo].[ChiTietLinhKien] ([MALK], [MAXE], [SOLUONGLK]) VALUES (4, 1, 1)
INSERT [dbo].[ChiTietLinhKien] ([MALK], [MAXE], [SOLUONGLK]) VALUES (5, 1, 1)
SET IDENTITY_INSERT [dbo].[DichVu] ON 

INSERT [dbo].[DichVu] ([MADV], [TENDV], [DONGIA]) VALUES (1, N'RỬA XE BỌT TUYẾT XỊN', 40000)
INSERT [dbo].[DichVu] ([MADV], [TENDV], [DONGIA]) VALUES (2, N'TẨY NHỰA ĐƯỜNG', 300000)
INSERT [dbo].[DichVu] ([MADV], [TENDV], [DONGIA]) VALUES (3, N'TẨY KÍNH XE 7 CHỖ', 300000)
SET IDENTITY_INSERT [dbo].[DichVu] OFF
INSERT [dbo].[HangXe] ([MAHANG], [TENHANG]) VALUES (N'AD', N'AUDI')
INSERT [dbo].[HangXe] ([MAHANG], [TENHANG]) VALUES (N'FOD', N'FORD')
INSERT [dbo].[HangXe] ([MAHANG], [TENHANG]) VALUES (N'HA', N'HANAN')
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([MAKH], [TENKH], [SDT], [DIACHI], [TRANGTHAI]) VALUES (1, N'ALEX SUM', N'01242594609', N'167 KHÓM TÂN ĐÔNG B', N'0')
INSERT [dbo].[KhachHang] ([MAKH], [TENKH], [SDT], [DIACHI], [TRANGTHAI]) VALUES (2, N'NGUYỄN VĂN CƯỜNG', N'0943665494', N'122 HAI BÀ TRƯNG', N'0')
INSERT [dbo].[KhachHang] ([MAKH], [TENKH], [SDT], [DIACHI], [TRANGTHAI]) VALUES (3, N'NGUYỄN HỒNG LOAN', N'01252694623', N'123 PHƯỜNG TÂN ĐỊNH, GÒ VẤP', N'0')
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
SET IDENTITY_INSERT [dbo].[LinhKien] ON 

INSERT [dbo].[LinhKien] ([MALK], [TENLK], [MAHANG], [SOLUONG], [DONGIA]) VALUES (3, N'LƯỚI TẢN NHIỆT CAO CẤP', N'HD', 40039, 400000)
INSERT [dbo].[LinhKien] ([MALK], [TENLK], [MAHANG], [SOLUONG], [DONGIA]) VALUES (4, N'ĐÈN PHA', N'HO', 52, 120000)
INSERT [dbo].[LinhKien] ([MALK], [TENLK], [MAHANG], [SOLUONG], [DONGIA]) VALUES (5, N'LỐP XỊN', N'TO', 96, 100000)
SET IDENTITY_INSERT [dbo].[LinhKien] OFF
SET IDENTITY_INSERT [dbo].[NhanVien] ON 

INSERT [dbo].[NhanVien] ([MANV], [TENNV], [USERNAME], [GIOITINH], [CHUCVU], [SDT], [NGAYSINH], [DIACHI], [EMAIL], [TRANGTHAI]) VALUES (14, N'NGUYỄN THÁI BẢO', N'bao156', N'Nam', N'Quản lí', N'0836877964     ', N'01/01/1999', N'167 KHÓM TÂN ĐÔNG B', N'nguyenthaibao157@gmail.com', N'0')
INSERT [dbo].[NhanVien] ([MANV], [TENNV], [USERNAME], [GIOITINH], [CHUCVU], [SDT], [NGAYSINH], [DIACHI], [EMAIL], [TRANGTHAI]) VALUES (20, N'MẠC PHONG', N'MacPhong156', N'Nam', N'Thu ngân', N'012539629      ', N'02/01/1999', N'167 KHOM TAN DONG LÒA', N'macphong15@gmail.com', N'0')
INSERT [dbo].[NhanVien] ([MANV], [TENNV], [USERNAME], [GIOITINH], [CHUCVU], [SDT], [NGAYSINH], [DIACHI], [EMAIL], [TRANGTHAI]) VALUES (21, N'NGUYỄN TIẾN DŨNG', N'dungtien157', N'Nam', N'Quản kho', N'0956869647     ', N'05/10/1999', N'102 NGUYỄN XÍ, BÌNH THẠNH', N'dungtien12@gmail.com', N'0')
SET IDENTITY_INSERT [dbo].[NhanVien] OFF
SET IDENTITY_INSERT [dbo].[PhieuSuaXe] ON 

INSERT [dbo].[PhieuSuaXe] ([MAPHIEU], [MAKH], [NGAY], [MANV], [TONGTIEN]) VALUES (1072, 8, N'25-05-2020', 14, 700000)
INSERT [dbo].[PhieuSuaXe] ([MAPHIEU], [MAKH], [NGAY], [MANV], [TONGTIEN]) VALUES (1075, 15, N'26-05-2020', 14, 250000)
INSERT [dbo].[PhieuSuaXe] ([MAPHIEU], [MAKH], [NGAY], [MANV], [TONGTIEN]) VALUES (1080, 13, N'26-05-2020', 14, 550000)
SET IDENTITY_INSERT [dbo].[PhieuSuaXe] OFF
SET IDENTITY_INSERT [dbo].[XeKhach] ON 

INSERT [dbo].[XeKhach] ([MAXE], [HIEUXE], [BIENSO], [MAKH], [TRANGTHAI]) VALUES (1, N'SEDAN', N'29C-8888', 1, N'0')
INSERT [dbo].[XeKhach] ([MAXE], [HIEUXE], [BIENSO], [MAKH], [TRANGTHAI]) VALUES (2, N'TOYOTA BLENDI II', N'66B-3456', 3, N'0')
INSERT [dbo].[XeKhach] ([MAXE], [HIEUXE], [BIENSO], [MAKH], [TRANGTHAI]) VALUES (4, N'BENTLY', N'66B-1234', 3, N'0')
SET IDENTITY_INSERT [dbo].[XeKhach] OFF
ALTER TABLE [dbo].[ChiTietDichVu]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDichVu_DichVu] FOREIGN KEY([MADV])
REFERENCES [dbo].[DichVu] ([MADV])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietDichVu] CHECK CONSTRAINT [FK_ChiTietDichVu_DichVu]
GO
ALTER TABLE [dbo].[ChiTietDichVu]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDichVu_XeKhach] FOREIGN KEY([MAXE])
REFERENCES [dbo].[XeKhach] ([MAXE])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietDichVu] CHECK CONSTRAINT [FK_ChiTietDichVu_XeKhach]
GO
ALTER TABLE [dbo].[ChiTietLinhKien]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietPhieuSua_LinhKien] FOREIGN KEY([MALK])
REFERENCES [dbo].[LinhKien] ([MALK])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietLinhKien] CHECK CONSTRAINT [FK_ChiTietPhieuSua_LinhKien]
GO
ALTER TABLE [dbo].[ChiTietLinhKien]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietPhieuSua_XeKhach] FOREIGN KEY([MAXE])
REFERENCES [dbo].[XeKhach] ([MAXE])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietLinhKien] CHECK CONSTRAINT [FK_ChiTietPhieuSua_XeKhach]
GO
ALTER TABLE [dbo].[LinhKien]  WITH CHECK ADD  CONSTRAINT [FK_LinhKien_HangXe] FOREIGN KEY([MAHANG])
REFERENCES [dbo].[HangXe] ([MAHANG])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LinhKien] CHECK CONSTRAINT [FK_LinhKien_HangXe]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_Account] FOREIGN KEY([USERNAME])
REFERENCES [dbo].[Account] ([USERNAME])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_Account]
GO
ALTER TABLE [dbo].[PhieuSuaXe]  WITH CHECK ADD  CONSTRAINT [FK_PhieuSuaXe_KhachHang] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KhachHang] ([MAKH])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PhieuSuaXe] CHECK CONSTRAINT [FK_PhieuSuaXe_KhachHang]
GO
ALTER TABLE [dbo].[PhieuSuaXe]  WITH CHECK ADD  CONSTRAINT [FK_PhieuSuaXe_NhanVien1] FOREIGN KEY([MANV])
REFERENCES [dbo].[NhanVien] ([MANV])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PhieuSuaXe] CHECK CONSTRAINT [FK_PhieuSuaXe_NhanVien1]
GO
ALTER TABLE [dbo].[XeKhach]  WITH CHECK ADD  CONSTRAINT [FK_XeKhach_KhachHang] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KhachHang] ([MAKH])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[XeKhach] CHECK CONSTRAINT [FK_XeKhach_KhachHang]
GO
